h1 {
  color: #000000;
  padding: 20px 20px;
  margin: 25px 0 20px;
  background: #00aaaa;
}

h2 {
  padding: 9px 14px 9px 14px;
  margin: 9px 4px 9px 4px;
  font-size: 18px;
  color: #fff;
  border: 2px solid #eee;
}

.span9 > ul > li {
  list-style: square;
}

.span9 > ul > li > ul {
  padding-bottom: 14px;
}

.span9 > ul > li > ul > li {
  list-style: square inside;
}

.nav > li > a::first-letter {
  color: #a00;
}

.bs-sidenav > li > a::first-letter {
  color: #fefe54;
}

.bs-sidenav {
  min-height: 20px;
  padding: 19px 10px;
  margin-bototm: 19px;
  color: #fff;
  background-color: #0a0;
}

.dropdown-menu {
  margin-top: 10px;
}

